body {
  font-size: 14px;
  font-weight: 400;
  color: $text-color;
}
<<<<<<< Updated upstream
=======

$background-color1: #84a178;
$color-white: #fcfcfc;
$color-yellow: #f8d24e;
$adress: #d6936d;
$text-color: #131313;
$background-modal: rgba(248, 210, 78, 0.1);
$border-modal: #84a178;
$time-color: #ababab;

h2 {
  font-family: Seymour One;
  font-size: 30px;

  line-height: 1.27;
  letter-spacing: 0.04em;
  text-align: center;
}
>>>>>>> Stashed changes
