@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.header {
  padding-top: 17px;
  font-family: "Seymour One", sans-serif;
  color: #fcfcfc;
  background-color: #84a178;
  height: 502px;
}
.header__logo {
  fill: #f8d24e;
  max-width: 40px;
  max-height: 37px;
}
.header__mobile-menu {
  max-width: 32px;
  max-height: 32px;
  fill: white;
}
.header__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__blocks {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.header .hero__buttons {
  padding-top: 32px;
}
.header .hero__svg--firstpart {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 107px;
  max-height: 34px;
}
.header .hero__svg--secondpart {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 126px;
  max-height: 49px;
}
.header .hero__ice-cream {
  position: absolute;
  bottom: 0;
  left: 25%;
  background-color: transparen;
  width: 177px;
  height: 217px;
}
.header .menu-container.is-open {
  transform: translateX(0);
}
.header .menu-container {
  background-color: #84a178;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 250ms ease;
}
.header .menu-container__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0 0 0 0;
}

.container {
  max-width: 480px;
  width: 100%;
}

.buttons__products {
  border-radius: 8px;
  border: 2px solid #f8d24e;
  padding: 11px 26px;
  background-color: transparent;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: normal;
}
.buttons__made {
  color: #f8d24e;
  text-align: center;
  font-size: 12px;
  max-width: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  border: none;
  background-color: transparent;
}
.buttons_read-more {
  width: 164px;
  background-color: #f8d24e;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  height: 42px;
}

.products__span {
  color: #131313;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 61px;
}
.products__heading {
  color: #131313;
  text-align: center;
  font-family: Seymour One;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-block: 12px -90px;
}
.products__title {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 131px;
}
.products__descr {
  text-align: center;
  color: #131313;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  margin: 40px 60px 40px 60px;
  height: 100px;
  line-height: 176%;
}
.products__list {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.products__list-ice_cream {
  background: #84a178;
  height: 428px;
  border-radius: 24px;
  margin-inline: 80px 80px;
}
.products__list-ice_coffe {
  background: #efd478;
  height: 428px;
  border-radius: 24px;
  margin-inline: 80px 80px;
}
.products__list-milkshake {
  background: #d6936d;
  height: 428px;
  border-radius: 24px;
  margin-inline: 80px 80px;
}
.products__img {
  position: relative;
  bottom: -95px;
  margin-left: 140px;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #131313;
}
.products__img-fill {
  fill: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #d9d9d9;
  filter: drop-shadow(0px 5.3421931267px 20.0332221985px rgba(10, 136, 23, 0.25));
}
.products__btn {
  display: flex;
  align-items: center;
  margin: 106px auto 0;
  background: #f8d24e;
  cursor: pointer;
  width: 20px;
  height: 16px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: visibility, opacity;
  transition-delay: 250ms;
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 280px;
  height: auto;
  opacity: 1;
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid #f8d24e;
}
.modal__button {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #131313;
  right: 8px;
  border: none;
  top: 8px;
  cursor: pointer;
}
.modal__headline {
  margin: 28px auto 20px;
  text-align: center;
}
.modal__label {
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal__label-name {
  margin: 40px 0 16px;
  display: block;
  padding: 12px 16px;
  height: 40px;
  border: 1px solid #84a178;
  background: rgba(248, 210, 78, 0.1);
  border-radius: 10px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label-name::-moz-placeholder {
  color: #131313;
  font-weight: 400;
  line-height: 140%;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
}
.modal__label-name::placeholder {
  color: #131313;
  font-weight: 400;
  line-height: 140%;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
}
.modal__label-tel {
  display: block;
  padding: 12px 16px;
  height: 40px;
  border: 1px solid #84a178;
  background: rgba(248, 210, 78, 0.1);
  border-radius: 10px;
  outline: none;
  font-family: Montserrat;
}
.modal__label-tel::-moz-placeholder {
  color: #131313;
  font-weight: 400;
  line-height: 140%;
  font-size: 14px;
}
.modal__label-tel::placeholder {
  color: #131313;
  font-weight: 400;
  line-height: 140%;
  font-size: 14px;
}
.modal__label-textarea {
  margin-top: 16px;
  display: block;
  height: 120px;
  resize: none;
  border: 1px solid #84a178;
  background: rgba(248, 210, 78, 0.1);
  border-radius: 10px;
  outline: none;
  padding: 12px 16px;
}
.modal__label-textarea::-moz-placeholder {
  color: #131313;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.modal__label-textarea::placeholder {
  color: #131313;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.modal__button-send {
  display: flex;
  align-items: center;
  margin: 30px auto;
  padding: 10px 76px;
  border-radius: 10px;
  border: none;
  background: #efd478;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #131313;
  cursor: pointer;
}
.modal__img {
  border-radius: 132px;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #d9d9d9;
  box-shadow: 0px 5.2602739334px 19.726026535px 0px rgba(10, 136, 23, 0.25);
  width: 132px;
  height: 132px;
  margin-left: 54px;
}

.calorie__list {
  display: flex;
  gap: 9px;
  margin: 20px auto 0;
}
.calorie__item {
  display: inline-flex;
  flex-direction: column;
}
.calorie__item-border1 {
  margin: 1px 5px 28px;
  position: absolute;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 43px;
  border: 2px solid #9cbe8f;
  background: #9cbe8f;
  box-shadow: 0px 6px 20px 0px rgba(10, 136, 23, 0.25);
}
.calorie__item-border2 {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  width: 52px;
  height: 72px;
  border-radius: 40px;
  border: 2px solid #9cbe8f;
  color: #131313;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.ingredients__headline {
  margin: 40px auto 24px;
  text-align: center;
}
.ingredients__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}

.footer {
  background: #84a178;
  padding: 22px;
}
.footer__heading {
  color: #fcfcfc;
  font-size: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
.footer__slogan {
  color: #fcfcfc;
  font-size: 34px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  padding-top: 16px;
  margin: 0;
}

.footer-conatct {
  color: #131313;
  text-align: right;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
}
.footer-conatct__link {
  color: #fcfcfc;
  text-decoration: none;
}

.footer-down {
  text-align: center;
}

.copyright {
  border-top: 1px solid grey;
  padding-block: 10px;
}
.copyright__text {
  color: #7a7a7a;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%;
}

.social {
  display: flex;
  gap: 20px;
}

.social-link__icon {
  background-color: #f8d24e;
  border-radius: 50%;
}

.about {
  background-color: #84a178;
  padding: 61px 50px 50px;
}
.about_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_container {
  max-width: 220px;
  margin: 0 auto;
}
.about_title-label {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #fcfcfc;
}
.about_title {
  font-family: Seymour One;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fcfcfc;
}
.about_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_text {
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fcfcfc;
}
.about_img {
  width: 279px;
}/*# sourceMappingURL=main.css.map */