<div class="section about">
  <div class="container about__container">
    <div class="about__heading">
      <span class="about__title-label">Tradition and love</span>
      <h2 class="about__title">How it's made?</h2>
    </div>
    <div class="about__img"
    <img 
      src="./images/pictures/mobile_cow_x1.jpg"
      alt="krowa na polanie"
      srcset="./images/pictures/mobile_cow_x1.jpg 279w"
      sizes="(min-width: 450px) 279px 100vw"
    />
    </div>
    <div class="about__content">
      <p class="about__text">
        Ice is a place where you will become not only a little happier, but also healthier. Health
        is the main value for us, and we follow it when creating our handmade desserts. <br />
        We use traditional recipes and 100% natural ingredients. Our products are so natural that
        they can be given to children from the age of three years. Sweets lovers can expect 55 types
        of ice cream, 15 types of coffee and 23 milkshakes. <br />
        This is enough to choose ice cream and coffee for any mood!
      </p>
      <button class="buttons__read-more" type="button">
        Read more
        <svg class="buttons__read-more--svg" width="12" height="12">
          <use href="./images/icons/pictogram.svg#icon-button_arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</div>

