<section class="section advantages">
  <div class="container">
    <ul class="advantages_list">
      <li class="advantages_item">
        <div class="advantages_icon-div">
          <svg height="36" wight="36">
            <use href="./images/icons/symbols.svg#icon-cow"></use>
          </svg>
        </div>
        <span class="advantages_number">721</span>
        <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages_item">
        <div class="advantages_icon-div">
          <svg height="36" wight="36">
            <use href="./images/icons/symbols.svg#icon-weight"></use>
          </svg>
        </div>
        <span class="advantages_number">16KG</span>
        <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages_item">
        <div class="advantages_icon-div">
          <svg height="36" wight="36">
            <use href="./images/icons/symbols.svg#icon-icecream"></use>
          </svg>
        </div>
        <span class="advantages_number">84</span>
        <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
