<section class="contacts">
  <div class="contacts__schop">
    <div class="contacts__schop--service"><h3>Cafe</h3></div>
    <address>
      <p>Chicago</p>
      <p>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
      <p>Monday - Friday</p>
      <p>06:00 AM - 10:00 PM</p>
      <p>+61(0) 383 766 284</p>
      <p>noreply@envato.com</p>
    </address>
  </div>
  <div class="contacts__schop">
    <div class="contacts__schop--service"><h3>FOODTRUCK</h3></div>
    <address>
      <p>Los Angeles</p>
      <p>1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
      <p>Monday - Friday</p>
      <p>06:00 AM - 10:00 PM</p>
      <p>+61(0) 383 766 284</p>
      <p>noreply@envato.com</p>
    </address>
  </div>
  <div class="contacts__schop">
    <div class="contacts__schop--service"><h3>Cafe</h3></div>
    <address>
      <p>New York</p>
      <p>726 Sterling Pl, Brooklyn, NY 11222, USA</p>
      <p>Monday - Friday</p>
      <p>06:00 AM - 10:00 PM</p>
      <p>+61(0) 383 766 284</p>
      <p>noreply@envato.com</p>
    </address>
  </div>
</section>
