<section class="contacts">
  <h2 class="section-contacts">Contacts</h2>
  <div class="our-stores">
    <div class="contacts__schop">
      <div class="contacts__schop--service">Cafe</div>
      <address class="contacts__schop--address">
        <ul>
          <li class="contacts__schop--address--place">
            Chicago
            <p class="street">
              10340 Ridgeland Ave,<br />
              Chicago Ridge, IL 60415, USA
            </p>
          </li>
          <li class="contacts__schop--address--place">
            <p>
              Monday - Friday <br />
              <span class="datatime">
                <time datatime="06:00">06:00 AM</time> -
                <time datatime="10:00">10:00 PM</time>
              </span>
            </p>

            <p>
              Saturday - Sunday <br />
              <span class="datatime">
                <time datatime="08:00">08:00 AM</time> -
                <time datatime="16:00">16:00 PM</time>
              </span>
            </p>
          </li>
          <li class="contacts__schop--address--place">
            <p>
              +61(0) 383 766 284 <br />
              noreply@envato.com
            </p>
          </li>
        </ul>
      </address>
    </div>
    <div class="contacts__schop">
      <div class="contacts__schop--service">FOODTRUCK</div>
      <address class="contacts__schop--address">
        <ul>
          <li class="contacts__schop--address--place">
            Los Angeles
            <p class="street">
              1003 Manhattan Ave, Manhattan<br />
              Beach, CA 90263, USA
            </p>
          </li>

          <li class="contacts__schop--address--place">
            <p>
              Monday - Friday <br />
              <span class="datatime">
                <time datetime="06:00">06:00 AM</time> -
                <time datetime="10:00">10:00 PM</time>
              </span>
            </p>
            <p>
              Saturday - Sunday <br />
              <span class="datatime">
                <time datatime="08:00">08:00 AM</time> -
                <time datatime="16:00">16:00 PM</time>
              </span>
            </p>
          </li>
          <li class="contacts__schop--address--place">
            <p>
              +61(0) 383 766 284 <br />
              noreply@envato.com
            </p>
          </li>
        </ul>
      </address>
    </div>
    <div class="contacts__schop">
      <div class="contacts__schop--service"><span>Cafe</span></div>
      <address class="contacts__schop--address">
        <ul>
          <li class="contacts__schop--address--place">
            New York
            <p class="street">
              726 Sterling Pl, Brooklyn, NY<br />
              11222, USA
            </p>
          </li>
          <li class="contacts__schop--address--place">
            <p>
              Monday - Friday <br />
              <span class="datatime">
                <time datetime="06:00">06:00 AM</time> -
                <time datetime="10:00">10:00 PM</time>
              </span>
            </p>
            <p>
              Saturday - Sunday <br />
              <span class="datatime">
                <time datatime="08:00">08:00 AM</time> -
                <time datatime="16:00">16:00 PM</time>
              </span>
            </p>
          </li>
          <li class="contacts__schop--address--place">
            <p>
              +61(0) 383 766 284 <br />
              noreply@envato.com
            </p>
          </li>
        </ul>
      </address>
    </div>
  </div>

  <div class="buttons-location">
    <button class="buttons-location__our-locations" type="button" data-modal-open>
      Our locations
      <svg class="buttons-location__franschise--svg" width="12" height="12">
        <use href="./images/icons/pictogram.svg#icon-button_arrow"></use>
      </svg>
    </button>
    <button class="buttons-location__franschise" type="button" franchise-open>
      Franchise
      <svg class="buttons-location__franschise--svg" width="12" height="12">
        <use href="./images/icons/pictogram.svg#icon-button_arrow"></use>
      </svg>
    </button>
  </div>

  <!-- Modal Franchise -->

  <div class="backdrop is-hidden" franchise>
    <div class="modal-franchise">
      <button type="button" class="modal-franchise__button-close" franchise-close>
        <svg width="15" height="15">
          <use href="./images/icons/pictogram.svg#icon-close"></use>
        </svg>
      </button>
      <form class="modal-franchise__form">
        <p class="modal-franchise__header">
          Thank you for your interest in owning an Ice Cream shop
        </p>
        <p class="modal-franchise__text">
          Due to the overwhelming volume of franchise requests we are not accepting new franchisee
          applications at this time. Once the application process resumes, we will contact you for
          further information. Please fill out the contact information below and we will reach out
          for additional information. We appreciate your patience.
        </p>
        <label class="modal-franchise__label" for="franchiseusername"
          ><input
            required
            class="modal-franchise__input"
            type="text"
            name="franchiseusername"
            placeholder="Name"
          />
        </label>
        <label class="modal-franchise__label" for="franchisephone"
          ><input
            required
            class="modal-franchise__input"
            type="number"
            name="franchisephone"
            placeholder="Phone"
          />
        </label>
        <label class="modal-franchise__label" for="franchiseemail"
          ><input
            required
            class="modal-franchise__input"
            type="email"
            name="franchiseemail"
            placeholder="Email"
          />
        </label>
        <label class="modal-franchise__label" for="franchisetextarea">
          <textarea
            required
            class="modal-franchise__textarea"
            placeholder="Comment"
            name="franchisetextarea"
          ></textarea>
        </label>
        <button type="submit" class="modal-franchise__button">Submit</button>
      </form>
    </div>
  </div>
</section>
