<section class="contacts">
  <div class="contacts__schop">
    <div class="contacts__schop--service">
      <span class="contacts__schop--service--name">Cafe</span>
    </div>
    <address class="contacts__schop--address">
      <p>Chicago</p>
      <p>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
      <p>Monday - Friday</p>
      <p>06:00 AM - 10:00 PM</p>
      <p>+61(0) 383 766 284</p>
      <p>noreply@envato.com</p>
    </address>
  </div>
  <div class="contacts__schop">
    <div class="contacts__schop--service"><span>FOODTRUCK</span></div>
    <address class="contacts__schop--address">
      <p>Los Angeles</p>
      <p>1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
      <span class="contacts__schop--address--border"></span>
      <p>Monday - Friday</p>
      <p>06:00 AM - 10:00 PM</p>
      <p>+61(0) 383 766 284</p>
      <p>noreply@envato.com</p>
    </address>
  </div>
  <div class="contacts__schop">
    <div class="contacts__schop--service"><span>Cafe</span></div>
    <address class="contacts__schop--address">
      <p>New York</p>
      <p>726 Sterling Pl, Brooklyn, NY 11222, USA</p>
      <p>Monday - Friday</p>
      <p>06:00 AM - 10:00 PM</p>
      <p>+61(0) 383 766 284</p>
      <p>noreply@envato.com</p>
    </address>
  </div>
</section>
