<div class="footer">
  <h2 class="footer__heading">homemade ice cream made</h2>
  <p class="footer__slogan">with passion</p>
  <ul class="social">
    <li class="social__item">
      <a class="social-link" href="https://www.github.com/"
        ><svg class="social-link__icon" width="32px" height="32px">
          <use href="/src/images/icons.svg#icon-github"></use></svg
      ></a>
    </li>
    <li>
      <a href="https://www.telegram.com/"></a
      ><svg class="social-link__icon" width="32px" height="32px">
        <use href="/src/images/icons.svg#icon-telegram"></use>
      </svg>
    </li>
    <li>
      <a href="https://www.facebook.com/"
        ><svg class="social-link__icon" width="32px" height="32px" fill="green">
          <use href="/src/images/icons.svg#icon-facebook"></use></svg
      ></a>
    </li>
  </ul>
  <div class="footer-down">
    <p class="footer-contact">
      Feel free to contact
      <a class="footer-contact__link" href="+61 (0) 383 766 284" type="tel">+61 (0) 383 766 284</a>
    </p>
    <div class="copyright">
      <p class="copyright__text">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</div>
