<section class="footer">
  <div class="footer__content">
    <div class="footer__headwrap">
      <h2 class="footer__heading">homemade ice cream made</h2>
      <p class="footer__slogan">with passion</p>
    </div>
    <div class="social-wrapper">
      <ul class="social">
        <li class="social__item">
          <a class="social-link" href="https://www.github.com/"
            ><svg class="social-link__icon" width="32px" height="32px">
              <use
                href="/src/images/icons/socials.svg#icon-github"
                width="22px"
                height="22px"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social-link" href="https://www.telegram.com/">
            <svg class="social-link__icon" width="32px" height="32px">
              <use
                href="/src/images/icons/socials.svg#icon-telegram"
                width="22px"
                height="22px"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social-link" href="https://www.facebook.com/"
            ><svg class="social-link__icon" width="32px" height="32px">
              <use
                href="/src/images/icons/socials.svg#icon-facebook"
                width="22px"
                height="22px"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-contact">
        Feel free to contact
        <a class="footer-contact__link" href="+61 (0) 383 766 284" type="tel"
          >+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  <div class="copyright">
    <div class="copyright__wrapper">
      <p class="copyright__text">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</section>
