<section class="container gallery-section">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide box">
        Picture 1
        <div>Customer 1</div>
        <div>Feedback 1</div>
        <div></div>
        Name-location 1
      </div>
      <div class="swiper-slide">
        Slide 2
        <div>Customer 2</div>
        <div>Feedback 2</div>
        <div></div>
        Name-location 2
      </div>
      <div class="swiper-slide">
        Slide 3
        <div>Customer 3</div>
        <div>Feedback 3</div>
        <div></div>
        Name-location 3
      </div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</section>
