<section class="section-ice">
  <div class="container">
    <div class="container section-ice__header" id="slideset1">
      <div>
        <img
          src="./images/pictures/mobile_slider1_x1.jpg"
          alt="ice-creams"
          srcset="
            ./images/pictures/mobile_slider1_x1.jpg   440w,
            ./images/pictures/mobile_slider1_x2.jpg   880w,
            ./images/pictures/tablet_slider1_x1.jpg   704w,
            ./images/pictures/tablet_slider1_x2.jpg  1408w,
            ./images/pictures/desktop_slider1_x1.jpg 1013w,
            ./images/pictures/desktop_slider1_x2.jpg 2016w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, 100vw"
          class="section-ice__gallery"
        />
      </div>
      <div>
        <img
          src="./images/pictures/mobile_slider1_x1.jpg"
          alt="ice-creams"
          srcset="
            ./images/pictures/mobile_slider2_x1.jpg  440w,
            ./images/pictures/mobile_slider2_x2.jpg  880w,
            ./images/pictures/mobile_slider2_x1.jpg  704w,
            ./images/pictures/mobile_slider2_x2.jpg 1408w,
            ./images/pictures/mobile_slider2_x1.jpg 1013w,
            ./images/pictures/mobile_slider2_x2.jpg 2016w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, 100vw"
          class="section-ice__gallery"
        />
      </div>
      <div>
        <img
          src="./images/pictures/mobile_slider1_x1.jpg"
          alt="ice-creams"
          srcset="
            ./images/pictures/desktop_slider3_x1.jpg  440w,
            ./images/pictures/desktop_slider3_x2.jpg  880w,
            ./images/pictures/desktop_slider3_x1.jpg  704w,
            ./images/pictures/desktop_slider3_x2.jpg 1408w,
            ./images/pictures/desktop_slider3_x1.jpg 1013w,
            ./images/pictures/desktop_slider3_x2.jpg 2016w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, 100vw"
          class="section-ice__gallery"
        />
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="section-reviews">
            <li>
              <div class="section-reviews__customer-container">
                <img
                  src="./images/pictures/mobile_Emily_x1.jpg"
                  alt="customer-emily"
                  srcset="
                    ./images/pictures/mobile_Emily_x1.jpg  85w,
                    ./images/pictures/mobile_Emily_x2.jpg 170w
                  "
                  sizes="(min-width: 1200px) 85px, (min-width: 768px) 84px, 100vw"
                />
              </div>
            </li>
            <li>
              <div class="section-reviews__feedback-container">
                <p class="section-reviews__feedback-text">
                  I love visiting your cafe. You prepare the most delicious ice cream in Los
                  Angeles! In addition, you have beautiful serving, cozy atmosphere and polite
                  staff.
                </p>
              </div>
            </li>
            <li>
              <div class="section-reviews__name-location">
                <h2 class="section-reviews__header section-reviews__feedback-name-location">
                  Emily, Los Angeles
                </h2>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="section-reviews">
            <li>
              <div class="section-reviews__customer-container">
                <img
                  src="./images/pictures/mobile_Bryan_x1.jpg"
                  alt="customer-bryan"
                  srcset="
                    ./images/pictures/mobile_Bryan_x1.jpg  85w,
                    ./images/pictures/mobile_Bryan_x2.jpg 170w
                  "
                  sizes="(min-width: 1200px) 85px, (min-width: 768px) 84px, 100vw"
                />
              </div>
            </li>
            <li>
              <div class="section-reviews__feedback-container">
                <p class="section-reviews__feedback-text">
                  Every day we come to you with friends after classes in college. We love your ice
                  cream and casual atmosphere!
                </p>
              </div>
            </li>
            <li>
              <div class="section-reviews__name-location">
                <h2
                  class="section-reviews__header section-reviews__feedback-name-location section-reviews__feedback-name-location-bryan"
                >
                  Bryan, New-York
                </h2>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="section-reviews">
            <li>
              <div class="section-reviews__customer-container">
                <img
                  src="./images/pictures/mobile_Diana_x1.jpg"
                  alt="customer-diana"
                  srcset="
                    ./images/pictures/mobile_Diana_x1.jpg  85w,
                    ./images/pictures/mobile_Diana_x2.jpg 170w
                  "
                  sizes="(min-width: 1200px) 85px, (min-width: 768px) 84px, 100vw"
                />
              </div>
            </li>
            <li>
              <div class="section-reviews__feedback-container">
                <p class="section-reviews__feedback-text">
                  Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really
                  like the excellent service - always served politely and quickly!
                </p>
              </div>
            </li>
            <li>
              <div class="section-reviews__name-location">
                <h2 class="section-reviews__header section-reviews__feedback-name-location">
                  Diana, Chicago
                </h2>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="swiper-pagination navigation-review swiper-pagination-bullets swiper-pagination-horizontal"
      >
        <span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
          aria-current="true"
        ></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
      </div>
    </div>
  </div>
</section>
