<header class="header">
  <div class="container">
    <div class="header__blocks">
      <svg class="header__logo" width="40" height="37">
        <use href="./images/icons.svg#icon-untitled"></use>
      </svg>
      <button
        type="button"
        class="header__button js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="header__mobile-menu" width="32" height="32">
          <use href="./images/icons.svg#icon-eva_menu-fill"></use>
        </svg>
      </button>
    </div>
    <div class="hero">
      <h1 class="hero__heading">ICE CREAM MADE WITH</h1>
      <p class="hero__title">PASSION</p>
      <div class="hero__buttons buttons">
        <button type="button" class="buttons__products">Products</button>
        <button type="button" class="buttons__made buttons__made--2nd">How it’s made?</button>
      </div>
      <!-- <div class="hero__dots">
        <svg class="hero__svg hero__svg--firstpart">
          <use href="./images/icons.svg#icon-kropki-2"></use>
        </svg>
        <div class="hero__ice-cream">
          <img src="./images/pictures/mobile_icecream_x1.png" alt="ice-cream" width="177" />
        </div>
        <svg class="hero__svg hero__svg--secondpart">
          <use href="./images/icons.svg#icon-Group-124"></use>
        </svg>
      </div> -->
    </div>
  </div>
  <!-- <div class="menu-container js-menu-container" id="mobile-menu">
    <svg class="header__logo" width="40" height="37">
      <use href="./images/icons.svg#icon-untitled"></use>
    </svg>
    <button type="button" class="menu-container__close-btn js-close-menu">
      <svg width="32" height="32">
        <use href="./images/icons.svg#icon-ep_close"></use>
      </svg>
    </button>
    <div class="mobile-menu">
      <ul class="mobile-menu__list">
        <li class="mobile_menu__item">
          <a href="#" class="mobile-menu__link">Home</a>
        </li>
        <li class="mobile_menu__item">
          <a href="#" class="mobile-menu__link">How it's made?</a>
        </li>
        <li class="mobile_menu__item">
          <a href="#" class="mobile-menu__link">Our products</a>
        </li>
        <li class="mobile_menu__item">
          <a href="#" class="mobile-menu__link">Contact</a>
        </li>
      </ul>
      <button type="button" class="buttons__buynow mobile-menu__button">Buy now</button>
    </div>
  </div> -->
</header>
