<header class="header" id="home">
  <div class="container">
    <div class="header__blocks">
      <a class="header__link" href="#home">
        <svg class="header__logo">
          <use class="header__svg" href="./images/icons.svg#icon-untitled"></use>
        </svg>
      </a>
      <div class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="#home" class="navigation__link">Home</a>
          </li>
          <li class="navigation__item">
            <a href="#about" class="navigation__link">How it's made?</a>
          </li>
          <li class="navigation__item">
            <a href="#products" class="navigation__link">Our products</a>
          </li>
          <li class="navigation__item">
            <a href="#contact" class="navigation__link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="header__menu">
        <button
          type="button"
          class="header__button js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="header__mobile-menu" width="32" height="32">
            <use href="./images/icons.svg#icon-eva_menu-fill"></use>
          </svg>
          <button type="button" class="buttons__buynow buttons__buynow--header mobile-menu__button">
            Buy now
            <svg class="buttons__buynow--svg" width="12" height="12">
              <use href="./images/icons/pictogram.svg#icon-button_arrow"></use>
            </svg>
          </button>
        </button>
      </div>
    </div>
    <div class="header__content">
      <div class="hero">
        <h1 class="hero__heading">ICE CREAM MADE WITH</h1>
        <p class="hero__title">PASSION</p>
        <div class="hero__buttons buttons">
          <button type="button" class="buttons__products">Products</button>
          <button type="button" class="buttons__made buttons__made--2nd">How it’s made?</button>
        </div>
        <div class="presentation">
          <img
            class="presentation__photo"
            alt="lots-ice-cream"
            src="./images/pictures/tablet_lots_icecream_x1.png"
            srcset="
              ./images/pictures/tablet_lots_icecream_x1.png  152w,
              ./images/pictures/tablet_lots_icecream_x2.png  304w,
              ./images/pictures/desktop_lots_icecream_x1.png 225w,
              ./images/pictures/desktop_lots_icecream_x2.png 450w
            "
            sizes="(min-width:  1200px) 225px, (min-width: 768px) 152px, 100vw"
          />
          <div class="presentation__describe">
            <p class="presentation__text">
              Indulge in a scoop of ice cream made with passion and treat your taste buds to an
              unforgettable experience!
            </p>
            <button class="presentation__btn" type="button">
              <svg width="40px" height="16px">
                <use href="./images/icons/pictogram.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="numbers">
        <div class="numbers__cafes">
          <span class="numbers__front">16</span>
          <span class="numbers__text">cafes</span>
        </div>
        <div class="numbers__foodtrucks">
          <span class="numbers__front">23</span>
          <span class="numbers__text">food trucks</span>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__graphics">
    <svg class="hero__svg hero__svg--firstpart">
      <use href="./images/icons.svg#icon-kropki-2"></use>
    </svg>
    <svg class="hero__svg hero__svg--tablet">
      <use href="./images/icons.svg#icon-Group-127"></use>
    </svg>
    <div class="hero__photo">
      <img
        class="hero__img"
        src="./images/pictures/mobile_icecream_x1.png"
        alt="ice-cream"
        srcset="
          ./images/pictures/mobile_icecream_x1.png  177w,
          ./images/pictures/mobile_icecream_x2.png  354w,
          ./images/pictures/tablet_icecream_x1.png  268w,
          ./images/pictures/tablet_icecream_x2.png  536w,
          ./images/pictures/desktop_icecream_x1.png 456w,
          ./images/pictures/desktop_icecream_x2.png 912w
        "
        sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, 100vw"
      />
    </div>
    <svg class="hero__svg hero__svg--secondpart">
      <use href="./images/icons.svg#icon-Group-124"></use>
    </svg>
    <img src="./images/Kropki.png" alt="dotted-background" class="hero__dots" />
  </div>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <div class="menu-container__header">
      <svg class="header__logo">
        <use class="header__svg" href="./images/icons.svg#icon-untitled"></use>
      </svg>
      <button type="button" class="menu-container__close-btn js-close-menu">
        <svg width="32" height="32">
          <use href="./images/icons.svg#icon-ep_close"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu">
      <ul class="mobile-menu__list">
        <li class="mobile_menu__item">
          <a href="#home" class="mobile-menu__link js-close-menu">Home</a>
        </li>
        <li class="mobile_menu__item">
          <a href="#about" class="mobile-menu__link js-close-menu">How it's made?</a>
        </li>
        <li class="mobile_menu__item">
          <a href="#products" class="mobile-menu__link js-close-menu">Our products</a>
        </li>
        <li class="mobile_menu__item">
          <a href="#contact" class="mobile-menu__link js-close-menu">Contact</a>
        </li>
      </ul>
      <button type="button" class="buttons__buynow buttons__buynow--visibility mobile-menu__button">
        Buy now
        <svg class="buttons__buynow--svg" width="12" height="12">
          <use href="./images/icons/pictogram.svg#icon-button_arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
