.about {
  background-color: $background-color1;
  padding: 61px 50px 50px;

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__container {
    max-width: 220px;
    margin: 0 auto;
  }

  &__title-label {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-white;
  }

  &__title {
    font-family: "Seymour One";
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.04em;
    text-align: center;
    color: $color-white;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: center;
    color: $color-white;
  }

  &__img {
    width: 279px;
  }

  &__img::before {
    border-radius: 50%;
    content: '';
    color: #F8D24E;
  }
}
