.advantages {
  background-color: $background-color1;
  padding-bottom: 81px;
  margin: 0 auto;

  @include tablet {
    padding-bottom: 204px;
  }

  @include desktop {
    padding-bottom: 178px;
  }

  &__heading {
    opacity: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    @include tablet {
      flex-direction: row;
      gap: 80px;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 210px;
    gap: 16px;

    @include tablet {
      max-width: 152px;
    }
    @include desktop {
      max-width: 360px;
    }
  }

  &__icon-div {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: $color-yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__number {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-align: center;
    color: $color-white;

    @include tablet {
      font-size: 48px;
      line-height: 59px;
    }
    @include desktop {
      font-size: 58px;
      line-height: 71px;
    }
  }

  &__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-white;

    @include tablet {
      font-size: 14px;
      line-height: 24px;
    }

    @include desktop {
      font-size: 16px;
      line-height: 28px;
    }
  }
}
