.buttons {
  &__products {
    border-radius: 8px;
    border: 2px solid #f8d24e;
    padding: 11px 26px;
    background-color: transparent;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: normal;
  }
  &__made {
    color: #f8d24e;
    text-align: center;
    font-size: 12px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    border: none;
    background-color: transparent;
  }
  &__buynow {
    border-radius: 10px;
    background: #f8d24e;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    padding: 12px 0;
    padding-left: 36px;
    padding-right: 51px;
    border: none;
  }
}
