.buttons {
  &__products {
    border-radius: 8px;
    border: 2px solid #f8d24e;
    padding: 11px 26px;
    background-color: transparent;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: normal;
  }
  &__made {
    color: #f8d24e;
    text-align: center;
    font-size: 12px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    border: none;
    background-color: transparent;
  }
  &__read-more {
    width: 164px;
    background-color: $color-yellow;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    height: 42px;

    &--svg {
      vertical-align: middle;
    }
  }
  &__buynow {
    border-radius: 10px;
    background: #f8d24e;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: normal;
    padding: 12px 0;
    padding-left: 36px;
    padding-right: 35px;
    border: none;
    &--svg {
      vertical-align: middle;
    }
    &--visibility {
      @include tablet {
        display: none;
      }
    }
    &--header {
      display: none;
      @include tablet {
        display: inline;
        margin-left: 32px;
      }
    }
  }
}
