.contacts {
  width: 100%;
  height: 1113px;
  background-color: $background-color1;
  font-family: 'Montserrat', sans-serif;

  &__schop {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 412px;
    border-radius: 24px;
    background-color: $color-white;
    margin-left: 7%;
    margin-right: 93%;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    margin-bottom: 16px;
    position: relative;
    top: -362px;
  }
  &__schop--service {
    background-color: $color-yellow;
    border-radius: 4px;
    height: 22px;
    width: fit-content;
    padding: 4px 22px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 32px;

    font-size: 12px;
    text-align: center;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.48px;
  }

  &__schop--address {
    font-style: normal;
    color: $text-color;
    margin-left: 32px;
    font-size: 12px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.48px;

    &--place {
      margin-top: 24px;
      padding-bottom: 6px;
      border-bottom: 1px solid #e1e1e1;
      width: 216px;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.street {
  color: $adress;
  line-height: 183%;
}

.datatime {
  color: $time-color;
}

.our-locations {
  background-color: $color-yellow;
  width: 196px;
  height: 42px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  margin-bottom: 16px;
  margin-left: 10%;
  margin-right: 90%;
  font-weight: 600;
}
.franschise {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 196px;
  height: 42px;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  margin-left: 10%;
  font-weight: 600;
}
