.contacts {
  width: 100%;
  height: 1487px;
  background-color: $background-color1;

  &__schop {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 412px;
    border-radius: 24px;
    background-color: $color-white;

    background: #fcfcfc;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    left: 0;
    top: 0;
    margin-inline: 80px;
    margin-bottom: 16px;
  }
  &__schop--service {
    background-color: $color-yellow;
    border-radius: 4px;
    height: 22px;
    padding: 0 11px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 32px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.48px;
  }

  &__schop--service--name {
    font-size: 12px;
  }
  &__schop--address {
    color: #d6936d;
  }
  &__schop--address--border {
    width: 216px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #e1e1e1;
  }
}
