.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-franchise {
  position: absolute;
  width: 100%;
  max-width: 280px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  border-radius: 10px;
  border: 2px solid $color-yellow;

  &__form {
    padding: 28px;
    margin: 0 auto;
  }

  &__button-close {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    color: $text-color;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 24px;
  }

  &__label {
    display: block;
    width: auto;
  }
  &__input {
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 7px;
    background: $background-modal;
    border: 1px solid $border-modal;
    border-radius: 10px;
    margin-bottom: 12px;

    &::placeholder {
      color: #131313;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      padding-inline: 12px;
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 64px;
    background: $background-modal;
    resize: none;
    padding-top: 8px;
    border: 1px solid $border-modal;
    border-radius: 10px;

    &::placeholder {
      color: $text-color;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      padding-inline: 12px;
    }
  }

  &__button {
    display: block;
    width: 114px;
    height: 42px;
    margin-inline: auto;
    margin-top: 24px;
  }
}
