.header {
  padding-top: 17px;
  font-family: 'Seymour One', sans-serif;
  color: #fcfcfc;
  background-color: #84a178;
  height: 502px;
  &__logo {
    fill: #f8d24e;
    max-width: 40px;
    max-height: 37px;
  }
  &__mobile-menu {
    max-width: 32px;
    max-height: 32px;
    fill: white;
  }
  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .hero {
    &__buttons {
      display: flex;
      padding-top: 32px;
      gap: 12px;
    }
    &__heading {
      margin: 0 0;

      font-size: 24px;
      font-family: Seymour One;
      font-weight: 400;

      color: #fcfcfc;
    }

    &__title {
      margin: 0 0;
      font-size: 30px;
      font-family: Seymour One;
      font-weight: 400;

      color: #fcfcfc;
    }

    &__svg--firstpart {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 107px;
      max-height: 34px;
    }
    &__svg--secondpart {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 126px;
      max-height: 49px;
    }
    &__ice-cream {
      position: absolute;
      bottom: 0;
      left: 25%;
      background-color: transparen;
      width: 177px;
      height: 217px;
    }
  }
  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container {
    background-color: #84a178;
    position: fixed;
    padding: 0 32px;
    padding-top: 12px;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 250ms ease;
    &__close-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      background-color: transparent;
      border: none;
      fill: #fcfcfc;
    }
  }
  .mobile-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 64px;
    &__link {
      color: #fcfcfc;
      text-align: center;
      font-size: 32px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &__list {
      display: flex;
      margin: 0 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 32px;
      padding-bottom: 110px;
      padding-top: 51px;
    }
  }
}
