.products {
  background-position: cover;
  background: url(../images/pictures/mobile_background_x1.jpg);

  /*@include tablet {
    background-image: url(../images/pictures/tablet_background_x1.jpg);
  }*/

  /*@include desktop {
    background-image: url(../images/pictures/desktop_background_x1.jpg);
  }*/

  &__text {
    color: $text-color;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 60px;
  }

  &__heading {
    color: $text-color;
    text-align: center;
    font-family: Seymour One;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-block: 12px 40px;
  }

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding-top: 126px;
  }

  &__descr {
    text-align: center;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.56px;
    line-height: 176%;
    padding-block: 40px 93px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: -90px;
  }

  &__space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  &__img {
    z-index: 2;
    display: block;
    position: relative;
    border-radius: 50%;
  }

  &__ice {
    position: relative;
    top: -90px;
    background-color: $background-color1;
    max-width: 320px;
    height: 428px;
    border-radius: 24px;
    padding-inline: 60px;
  }

  &__coffe {
    position: relative;
    top: -90px;
    background-color: $background-color2;
    max-width: 320px;
    height: 428px;
    border-radius: 24px;
    padding-inline: 60px;
  }

  &__milkshake {
    position: relative;
    top: -90px;
    background-color: $background-color3;
    max-width: 320px;
    height: 428px;
    border-radius: 24px;
    padding-inline: 60px;
  }

  &__btn {
    background-color: transparent;
    position: absolute;
    left: 44%;
    bottom: 16px;
    border: none;
    transition: transform 400ms ease-in-out;
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: visibility, opacity;
  transition-delay: 250ms;
}
.modal {
  visibility: visible;
  z-index: 3;
  background-color: $background-white-color;
  border: 2px solid #f8d24e;
  border-radius: 20px;
  display: block;
  position: fixed;
  inset: 0 0 25% 10%;
  overflow: auto;
  width: 100%;
  max-width: 280px;
  padding: 28px;

  &__button {
    position: absolute;
    width: 30px;
    height: 30px;
    color: $background-white-color;
    background-color: $background-white-color;
    right: 8px;
    border: none;
    top: 8px;
    cursor: pointer;
  }

  &__headline {
    margin: 28px auto 20px;
    text-align: center;
  }
  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    &-name {
      margin: 40px 0 16px;
      display: block;
      padding: 12px 16px;
      height: 40px;
      border: 1px solid #84a178;
      background: rgba(248, 210, 78, 0.1);
      border-radius: 10px;
      outline: none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &::placeholder {
        color: #131313;
        font-weight: 400;
        line-height: 140%;
        font-size: 14px;
        font-family: Montserrat;
        font-style: normal;
      }
    }

    &-tel {
      display: block;
      padding: 12px 16px;
      height: 40px;
      border: 1px solid #84a178;
      background: rgba(248, 210, 78, 0.1);
      border-radius: 10px;
      outline: none;
      font-family: Montserrat;

      &::placeholder {
        color: #131313;
        font-weight: 400;
        line-height: 140%;
        font-size: 14px;
      }
    }

    &-textarea {
      margin-top: 16px;
      display: block;
      height: 120px;
      resize: none;
      border: 1px solid #84a178;
      background: rgba(248, 210, 78, 0.1);
      border-radius: 10px;
      outline: none;
      padding: 12px 16px;

      &::placeholder {
        color: #131313;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
      }
    }
  }

  &__button-send {
    display: flex;
    align-items: center;
    margin: 30px auto;
    padding: 10px 76px;
    border-radius: 10px;
    border: none;
    background: #f8d24e;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #131313;
    cursor: pointer;
  }

  &__img {
    border-radius: 132px;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%),
      #d9d9d9;
    box-shadow: 0px 5.2602739334106445px 19.72602653503418px 0px rgba(10, 136, 23, 0.25);
    width: 132px;
    height: 132px;
    margin-left: 54px;
  }
}

.calorie {
  &__list {
    display: flex;
    gap: 9px;
    margin: 20px auto 0;
  }
  &__item {
    display: inline-flex;
    flex-direction: column;
    &-border1 {
      margin: 1px 5px 28px;
      position: absolute;
      text-align: center;
      flex-direction: column;
      display: flex;
      justify-content: center;
      width: 43px;
      height: 43px;
      border-radius: 43px;
      border: 2px solid #9cbe8f;
      background: #9cbe8f;
      box-shadow: 0px 6px 20px 0px rgba(10, 136, 23, 0.25);
    }

    &-border2 {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      width: 52px;
      height: 72px;
      border-radius: 40px;
      border: 2px solid #9cbe8f;
      color: #131313;
      font-size: 10px;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.ingredients {
  &__headline {
    margin: 40px auto 24px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
  }
}
