.products {
  background-position: cover;
  background: url(../images/pictures/mobile_background_x1.jpg);

  @include tablet {
    background-image: url(../images/pictures/tablet_background_x1.jpg);
  }

  @include desktop {
    background-image: url(../images/pictures/desktop_background_x1.jpg);
  }

  &__text {
    color: $text-color;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 60px;

    @include tablet {
      font-size: 22px;
    }

    @include desktop {
      font-size: 30px;
    }
  }

  &__heading {
    color: $text-color;
    text-align: center;
    font-family: Seymour One;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-block: 12px 40px;

    @include tablet {
      margin-block: 12px 80px;
      font-size: 34px;
    }

    @include desktop {
      font-size: 36px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet {
      flex-direction: row;
      gap: 16px;
    }

    @include desktop {
      gap: 29px;
    }
  }

  &__space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding-top: 126px;

    @include tablet {
      font-size: 22px;
      padding-top: 108px;
    }

    @include desktop {
      font-size: 30px;
      padding-top: 168px;
    }
  }

  &__descr {
    text-align: center;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.56px;
    line-height: 176%;
    padding-block: 40px 93px;

    @include tablet {
      padding-block: 40px 78px;
    }

    @include desktop {
      padding-block: 66px 126px;
    }
  }

  &__img {
    z-index: 2;
    display: block;
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;

    @include desktop {
      width: 302px;
      height: 302px;
    }
  }

  &__ice {
    position: relative;
    top: -90px;
    background-color: $background-color1;
    max-width: 320px;
    height: 428px;
    border-radius: 24px;
    padding-inline: 60px;

    @include tablet {
      padding-inline: 26px;
    }

    @include desktop {
      padding-inline: 64px;
      max-width: 370px;
      height: 536px;
      position: relative;
      top: -140px;
      transition-duration: 1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__coffe {
    position: relative;
    top: -90px;
    background-color: $background-color2;
    max-width: 320px;
    height: 428px;
    border-radius: 24px;
    padding-inline: 60px;

    @include tablet {
      padding-inline: 26px;
    }

    @include desktop {
      padding-inline: 64px;
      max-width: 370px;
      height: 536px;
      position: relative;
      top: -140px;
      transition-duration: 1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__milkshake {
    position: relative;
    top: -90px;
    background-color: $background-color3;
    max-width: 320px;
    height: 428px;
    border-radius: 24px;
    padding-inline: 60px;

    @include tablet {
      padding-inline: 26px;
    }

    @include desktop {
      padding-inline: 64px;
      max-width: 370px;
      height: 536px;
      position: relative;
      top: -140px;
      transition-duration: 1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__btn {
    background-color: transparent;
    position: absolute;
    left: 44%;
    bottom: 16px;
    border: none;
    transition: transform 400ms ease-in-out;
    cursor: pointer;

    @include tablet {
      bottom: 12px;
      left: 93px;
    }

    @include desktop {
      bottom: 60px;
      left: 165px;
    }
  }
}

.products__picture-overlay {
  position: relative;
  z-index: 1;
  border-radius: 50%;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 50%;
    padding-bottom: 80%;
    position: absolute;
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    @include tablet {
      top: 12px;
    }
    @include desktop {
      top: 16px;
    }
  }
}
.products__picture-overlay__one::before {
  background-color: rgba(156, 190, 143, 0.7);
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
.products__picture-overlay__two::before {
  background-color: rgba(248, 210, 78, 0.7);
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
.products__picture-overlay__three::before {
  background-color: rgba(213, 117, 63, 0.7);
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: visibility, opacity;
  transition-delay: 250ms;
}
.modal {
  visibility: visible;
  z-index: 3;
  background-color: $background-white-color;
  border: 2px solid #f8d24e;
  border-radius: 20px;
  display: block;
  position: fixed;
  inset: 0 0 0% 16%;
  overflow: auto;
  width: 100%;
  max-width: 280px;

  @include desktop {
    max-width: 568px;
    inset: 0 0 0% 38%;
  }

  &__button {
    position: absolute;
    width: 20px;
    height: 20px;
    color: $background-white-color;
    background-color: $background-white-color;
    right: 8px;
    border: none;
    top: 8px;
    cursor: pointer;

    @include desktop {
      width: 30px;
      height: 30px;
    }
  }

  &__headline {
    margin: 28px auto 20px;
    text-align: center;
    font-size: 20px;
    color: $text-color;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 28px;
    font-family: Seymour One;
  }
  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    &-name {
      margin: 40px 0 16px;
      display: block;
      padding: 12px 16px;
      height: 40px;
      border: 1px solid #84a178;
      background: rgba(248, 210, 78, 0.1);
      border-radius: 10px;
      outline: none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      margin-inline: 20px;

      @include desktop {
        margin-inline: 100px;
      }
      &::placeholder {
        color: $text-color;
        font-weight: 400;
        line-height: 140%;
        font-size: 14px;
        font-family: Montserrat;
        font-style: normal;
      }
    }

    &-tel {
      display: block;
      padding: 12px 16px;
      height: 40px;
      border: 1px solid #84a178;
      background: rgba(248, 210, 78, 0.1);
      border-radius: 10px;
      outline: none;
      font-family: Montserrat;
      margin-inline: 20px;

      @include desktop {
        margin-inline: 100px;
      }

      &::placeholder {
        color: #131313;
        font-weight: 400;
        line-height: 140%;
        font-size: 14px;
      }
    }

    &-textarea {
      margin-top: 16px;
      display: block;
      height: 120px;
      resize: none;
      border: 1px solid #84a178;
      background: rgba(248, 210, 78, 0.1);
      border-radius: 10px;
      outline: none;
      padding: 12px 16px;
      margin-inline: 20px;

      @include desktop {
        margin-inline: 100px;
        height: 84px;
      }

      &::placeholder {
        color: #131313;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
      }
    }
  }

  &__button-send {
    display: flex;
    align-items: center;
    margin: 30px auto;
    padding: 10px 76px;
    border-radius: 10px;
    border: none;
    background: #f8d24e;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #131313;
    cursor: pointer;

    &:hover {
      border-radius: 10px;
      background: $button-hover;
    }

    &:focus {
      color: $color-white;
      background-color: $button-hover;
    }

    &:disabled {
      background-color: $button-disabled;
    }
  }

  &__img {
    border-radius: 132px;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%),
      #d9d9d9;
    box-shadow: 0px 5.2602739334106445px 19.72602653503418px 0px rgba(10, 136, 23, 0.25);
    width: 132px;
    height: 132px;
    margin: 20px 74px auto 74px;

    @include desktop {
      margin: 24px 218px auto 218px;
    }
  }
}

.calorie {
  &__list {
    display: flex;
    gap: 9px;
    margin-top: 20px;
    justify-content: center;

    @include desktop {
      gap: 20px;
      margin-top: 31px;
      margin-inline: 124px;
    }
  }
  &__item {
    display: inline-flex;
    flex-direction: column;
    &-border1 {
      margin: 1px 5px 28px;
      position: absolute;
      text-align: center;
      flex-direction: column;
      display: flex;
      justify-content: center;
      width: 43px;
      height: 43px;
      border-radius: 43px;
      border: 2px solid #9cbe8f;
      background: #9cbe8f;
      box-shadow: 0px 6px 20px 0px rgba(10, 136, 23, 0.25);

      @include desktop {
        margin: 0px 6px;
        width: 53px;
        height: 53px;
        font-size: 12px;
      }
    }

    &-border2 {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      width: 52px;
      height: 72px;
      border-radius: 40px;
      border: 2px solid #9cbe8f;
      color: #131313;
      font-size: 10px;
      font-weight: 400;
      line-height: normal;

      @include desktop {
        width: 65px;
        height: 90px;
        font-size: 12px;
        padding-block: 60px 15px;
      }
    }
  }
}

.ingredients {
  &__headline {
    margin: 40px auto 24px;
    text-align: center;

    @include desktop {
      margin: 48px auto 24px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
    margin-inline: 20px;

    @include desktop {
      margin-inline: 40px;
    }
  }
}
