$background-color1: #84a178;
$background-color2: #efd478;
$background-color3: #d6936d;
$background-white-color: #ffffff;
$color-white: #fcfcfc;
$color-yellow: #f8d24e;
$adress: #d6936d;
$text-color: #131313;
$background-modal: rgba(248, 210, 78, 0.1);
$border-modal: #84a178;
$time-color: #ababab;

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0 0 0 0;
}
.container {
  max-width: 480px;
  padding: 0 15px;
  width: 100%;
}

$background-color1: #84a178;
$color-white: #fcfcfc;
$color-yellow: #f8d24e;
$adress: #d6936d;
$text-color: #131313;
$background-modal: rgba(248, 210, 78, 0.1);
$border-modal: #84a178;
$time-color: #ababab;
